// color

$primary-1: #81b3d2;
$primary-2: #eeeeee;

$black: #000000;
$white: #ffffff;

// fonts

$font-regular: "PTSansRegular";
$font-bold: "PTSansBold";
$font-bold-italic: "PTSansBoldItalic";
$font-italic: "PTSansItalic";
