@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSans/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSans/PTSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSans/PTSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PTSansBoldItalic";
    src: url("../fonts/PTSans/PTSans-BoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
